* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-red: 0, 100%, 67%;
    --orangey-yellow: 39, 100%, 56%;
    --green-teal: 166, 100%, 37%;
    --cobalt-blue: 234, 85%, 45%;
    --light-slate-blue: 252, 100%, 67%;
    --light-royal-blue: 241, 81%, 54%;
    --violet-blue: 256, 72%, 46%, 1;
    --persian-blue: 241, 72%, 46%, 0;
    --white: 0, 0%, 100%;
    --pale-blue: 221, 100%, 96%;
    --light-lavender: 241, 100%, 89%;
    --dark-gray-blue: 224, 30%, 27%;

    --ff: "Hanken Grotesk", sans-serif;
    --textmd:500 18px var(--ff);
    --buttom:800 18px var(--ff);
    --textbg:700 24px var(--ff);
    --grt:800 32px var(--ff);
    --grtnmbr:800 72px var(--ff);
}

body {
    background-color: hsla(var(--pale-blue));
    font: var(--textmd);
}

ul {
    list-style: none;
}

button {
    all: unset;
}