div.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    background-color: hsla(var(--white));
    width: 736px;
    height: 512px;
    border-radius: 32px;
}

  div.cardpurple {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
        to bottom ,
        hsla(var(--light-slate-blue)),
        hsla(var(--light-royal-blue)),
        hsla(var(--light-royal-blue))
        );
    width: 368px;
    height: 512px;
    border-radius: 32px;
    padding-top: 38px;

    & > span {
        font: var(--textbg);
        color: hsla(var(--light-lavender));
        margin-bottom: 35px;
    }

    & div.result {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(
            to bottom,
            hsla(var(--violet-blue)),
            hsla(var(--light-royal-blue))
            );
        border-radius: 50%;
        width: 200px;
        height: 200px;

        & h1 {
            font: var(--grtnmbr);
            color: hsla(var(--white));
        }

        & span {
            color: hsla(var(--light-slate-blue));
        }
    }

    & div.text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & h2 {
            font: var(--grt);
            color: hsla(var(--white));
            margin-top: 28px;
            margin-bottom: 14px;
        }

        & p {
            text-align: center;
            width: 255px;
            height: 69px;
            color: hsla(var(--light-lavender));
            margin-bottom: 55px;
        }
    }
}

  div.cardwhite {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: hsla(var(--white));
    width: 368px;
    height: 512px;
    border-radius: 32px;
    padding: 38px 40px 0px 40px;

    & > span {
        display: inline-flex;
        font: var(--textbg);
        color: hsla(var(--dark-gray-blue));
        margin-bottom: 28px;
    }

    & ul {
        margin-bottom: 41px;

        & * + * {
            margin-top: 16px;
        }

        & span{
            color: rgb(143, 143, 143);
            & strong {color: hsla(var(--dark-gray-blue));}
        }

        & li {
            display: flex;
            justify-content: space-between;
            width: 288px;
            height: 56px;
            border-radius: 14px;

            & div {
                display: flex;
                align-items: center;

                & img {
                    margin-left: 16px;
                    margin-right: 12px;
                }
            }

            & span {
                margin-right: 16px;
            }

            &.red {
                color: hsla(var(--light-red));
                background-color: hsla(var(--light-red), 0.05);
            }

            &.yellow {
                color: hsla(var(--orangey-yellow));
                background-color: hsla(var(--orangey-yellow), 0.05);
            }

            &.green {
                color: hsla(var(--green-teal));
                background-color: hsla(var(--green-teal), 0.05);
            }

            &.blue {
                color: hsla(var(--cobalt-blue));
                background-color: hsla(var(--cobalt-blue), 0.05);
            }
        }
    }

    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 288px;
        height: 56px;
        margin-bottom: 46px;
        border-radius: 50px;
        background-color: hsla(var(--dark-gray-blue));
        font: var(--button);
        color: hsla(var(--white));

        &:hover {
            cursor: pointer;
        }

        &:active {
            background-color: hsla(var(--light-slate-blue));
        }
    }
}